.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    grid-gap: 10px;
    color: white;
    margin-bottom: 20px;
}

.wrapper > div {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}